:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 0.8rem;
  --boxsize: 80vw;
  --theme-green: #8aba56;
  --theme-grey: #232323;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--theme-grey);
}

img {
  max-width: 100%;
}

#pages,
#dropdown,
.submenu {
  display: none;
}

/* ---link from the top-------------------------------- */

.icons {
  font-size: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0.5rem 0 0.5rem;
  border-bottom: 2px solid var(--theme-green);
}

.nav-links a {
  color: grey;
  padding: 0 0.5rem;
}

.nav-links :not(:last-child) {
  border-right: 1px solid grey;
}

/* ---------------------------------------------------- */

.nav-bg {
  background-color: white;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--boxsize);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: -5px 0;
}

.logo h1 {
  width: 8rem;
  color: darkgreen;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  line-height: 17%;
}

.logo span {
  margin: -4px;
  font-size: 0.75rem;
}

.menu {
  display: flex;
  height: 50%;
}

.menu * {
  padding: 1.7rem 1.2rem;
}

.menu a:hover,
.menu label:hover {
  background-color: var(--theme-green);
  color: white;
  cursor: pointer;
}

.menu label:hover {
  cursor: row-resize;
}

.submenu {
  background-color: var(--theme-grey);
  position: absolute;
  margin-top: 1.7rem;
  margin-left: -1.2rem;
}

#pages:checked+label,
#dropdown:checked+label {
  background-color: var(--theme-grey);
  color: white;
  cursor: auto;

  & div {
    display: block;
  }
}

/* ---------------------------------------------------- */

.cardholder {
  background-color: grey;
  display: flex;
  flex-basis: 80vw;
}

.card {
  border: 2px solid red;
  height: 20vh;
}
